@using AccountManagement.Application.Contracts.Account
@model ForgotPassword

@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<!--====================  breadcrumb area ====================-->
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">فراموشی رمز عبور</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                            <li class="active">فراموشی رمز عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== end of breadcrumb area ====================-->
<!--====================  page content area ====================-->
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div>
                        @if (!string.IsNullOrWhiteSpace(Model?.Message))
                        {
                            <div class="alert alert-warning">
                                <i class="fa fa-warning">@Model?.Message</i>
                            </div>
                        }
                    </div>
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <form asp-controller="Account" asp-action="RequestCode" method="post">
                                    <div class="login-form">
                                        <div class="row">
                                            <div class="col-md-12 col-12 mb-20">
                                                <label asp-for="Mobile">موبایل</label>
                                                <input asp-for="Mobile" placeholder="لطفا شماره تلفن همراه خودرا وارد کنید.">
                                                <span asp-validation-for="Mobile"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="button" class="register-button mt-0" id="codeBtn">درخواست کد</button>
                                                <div><span id="time" class="text-danger" style="display: none">02:00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form asp-controller="Account" asp-action="CheckCode" method="post">
                                    <div class="login-form">
                                        <div class="row">
                                            <div class="col-md-12 col-12 mb-20">
                                                <label asp-for="Code">کد</label>
                                                <input asp-for="Code" placeholder="لطفا کد ارسال شده را وارد کنید.">
                                                <span asp-validation-for="Code"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="register-button mt-0">ادامه</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== end of page content area ====================-->
@section Scripts{
    <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                minutes,
                seconds;
            function timer() {
                diff = duration - (((Date.now() - start) / 1000) | 0);

                minutes = (diff / 60) | 0;
                seconds = (diff % 60) | 0;

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = minutes + ":" + seconds;

                if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 02:00 not 01:59
                    start = Date.now() + 1000;
                }

                if (minutes === 0 && seconds === 0) {
                    $("#codeBtn").css("display", "");
                    $("#time").css("display", "none");
                    $("#Mobile").prop('disabled', false);
                    window.location.reload();
                }
            };

            timer();
            setInterval(timer, 1000);
        }

        $("#codeBtn").click(function() {

            $("#codeBtn").css("display", "none");
            $("#time").css("display", "");
            $("#Mobile").prop('disabled', true);

            var minutes = 60 * 1.5,
                display = document.querySelector('#time');
            startTimer(minutes, display);
        });
    </script>
    @*<script>
        function login() {
            const input = $("#input").val();

            if (!input) {
                $("#loginMessage").removeClass("hidden");
                $("#loginMessage").html("<p>لطفا موبایل را وارد کنید.</p>");
                return;
            }

            $("#sendCodeArea").addClass("hidden");
            $("#abroadGuideBtn").addClass("hidden");

            $.ajax({
                url: `/api/Login/SetCode/${input}`,
                type: "POST",
                contentType: "application/json",
                success: function(result) {
                    if (result.success) {
                        var duration = 60 * 3,
                            display = document.querySelector('#timer');
                        startTimer(duration, display, input);
                        $("#codeHolder").removeClass("hidden");
                        $("#verifyArea").removeClass("hidden");
                        $("#input").attr("readonly", "readonly");
                        $("#loginMessage").html('');
                        $("#loginMessage").addClass("hidden");
                        $("#code1").focus();
                    } else {
                        $("#loginMessage").removeClass("hidden");
                        $("#loginMessage").html(`<p>${result.message}</p>`);
                        $("#sendCodeArea").removeClass("hidden");
                        $("#abroadGuideBtn").removeClass("hidden");
                    }
                },
                error: function(err) {

                }
            });
        }

        var Interval;
        function modifyInput() {
            $("#input").removeAttr("readonly");
            $("#input").val("");
            $("#codeHolder").addClass("hidden");
            $("#sendCodeArea").removeClass("hidden");
            $("#abroadGuideBtn").removeClass("hidden");
            $("#verifyArea").addClass("hidden");
            clearInterval(Interval);
        }

        function verifyCode() {
            const input = $("#input").val();
            const code = $('#code').val();

            $.ajax({
                url: `/api/Login/VerifyCode/${input}/${code}`,
                type: "POST",
                contentType: "application/json",
                success: function(result) {
                    if (result.success) {
                        window.location.href = `/Login/${input}/${code}`;
                    } else {
                        $("#loginMessage").removeClass("hidden");
                        $("#loginMessage").html(`<p>${result.message}</p>`);
                    }
                },
                error: function(err) {
                }
            });
        }

        function startTimer(duration, display, input) {
            var timer = duration, minutes, seconds;
            Interval = setInterval(function() {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    expireCode(input);
                    modifyInput();
                    clearInterval(Interval);
                }
            }, 1000);
        }

        function expireCode(input) {
            $.ajax({
                url: `/api/Login/ExpirCode/${input}`,
                type: "POST",
                contentType: "application/json",
                success: function(result) { }
            });
        }

        function showAbroadGuide() {
            $('#formArea').addClass('hidden');
            $('#abroadGuide').removeClass('hidden');
            const guideTitle = $('#formTitle').data('guide-title');
            $('#formTitle').text(guideTitle);
        }

        function hideAbroadGuide() {
            $('#formArea').removeClass('hidden');
            $('#abroadGuide').addClass('hidden');
            const defaultTitle = $('#formTitle').data('default-title');
            $('#formTitle').text(defaultTitle);
        }

        $('#input').keypress(function(e) {
            if (e.which == 13) {
                login();
                return false;
            }
        });

        let tabIndexLast = 4;
        let input_password_item = document.querySelectorAll('.input-password-item');
        input_password_item.forEach((element, index) => {
            element.addEventListener("input", (event) => {
                var code = $('#code1').val()
                    + $('#code2').val()
                    + $('#code3').val()
                    + $('#code4').val()
                    + $('#code5').val();

                $('#code').val(code);

                if (element.value.length == 1 && index < tabIndexLast) {
                    input_password_item[index + 1].focus();
                    input_password_item[index + 1].select();
                }

                if (code.length == 5) {
                    $('#verifyBtn').focus();
                }
            });

            element.addEventListener('focus', (event) => {
                element.select();
            });

        });
    </script>*@
    }


    @*<div class="form-register-container">
        <h2 id="formTitle" data-default-title="ورود به آتریا" data-guide-title="راهنمای ثبت نام دانشجویان خارج از کشور">ورود به آتریا</h2>
        <form class="form-register" method="post" id="form-login" action="/Account/Login">
            <input type="hidden" name="RedirectUrl">
            <div id="abroadGuide" class="hidden" style="line-height:2;text-align:justify">
                <p>
                    درصورتی که دانشجو خارج از کشور هستید، برای ثبت نام کافی است نام کامل، ایمیل، شماره تماس معتبر و شهر محل سکونت خود را به آدرس
                    <a href="mailto:contact@atriya.com">contact@atriya.com</a> ایمیل نمایید.
                </p>
                <p>پس از بررسی، کارشناسان پشتیبانی در اسرع وقت با شما تماس خواهند گرفت و شما می توانید به راحتی وارد سایت شوید.</p>
                <p>باتشکر، موسسه آموزشی آتریا 😉</p>
                <div class="btn-default-light btn-login-guide" onclick="hideAbroadGuide()">بازگشت به فرم ورود</div>
            </div>
            <div id="formArea">
                <div class="input-element">
                    <input name="input" id="input" placeholder="موبایل" required="" autocomplete="off">
                </div>
                <div class="container-input-password hidden" id="codeHolder">
                    <p>کد ورود را وارد نمایید</p>
                    <div id="container-input-password-items">
                        <input type="tel" min="0" max="9" pattern="[0-9]" maxlength="1" class="input-password-item" id="code1" autocomplete="off">
                        <input type="tel" min="0" max="9" pattern="[0-9]" maxlength="1" class="input-password-item" id="code2" autocomplete="off">
                        <input type="tel" min="0" max="9" pattern="[0-9]" maxlength="1" class="input-password-item" id="code3" autocomplete="off">
                        <input type="tel" min="0" max="9" pattern="[0-9]" maxlength="1" class="input-password-item" id="code4" autocomplete="off">
                        <input type="tel" min="0" max="9" pattern="[0-9]" maxlength="1" class="input-password-item" id="code5" autocomplete="off">
                    </div>
                </div>
                <input type="hidden" id="code">
                <div class="alert alert-danger hidden" id="loginMessage">
                </div>
                <div id="sendCodeArea">
                    <div class="btn-sign-container">
                        <button type="button" class="btn-default btn-custom" onclick="login()">دریافت کد</button>
                        <p>حساب کاربری ندارید؟ <a href="/Account/Register">ثبت نام</a></p>
                    </div>
                </div>
                <div class="btn-default-light btn-login-guide" id="abroadGuideBtn" onclick="showAbroadGuide()">راهنمای ثبت نام دانشجویان خارج از کشور</div>
            </div>
            <div class="accept-container hidden" id="verifyArea">
                <button type="button" class="btn-default btn-custom" id="verifyBtn" onclick="verifyCode()"> تایید کد <span id="timer" class="badge">03:00</span> </button>
                <button type="button" class="btn-default-light btn-custom" onclick="modifyInput()">تغییر اطلاعات</button>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PszrAHgfMVCl78SMG1j5WVgasgHhaYSdv1S-ZeNKTI5zhUPfD_k557_0DDlKxPL4GRMjzlg9U2EjpPhEmyUmmBDkkEUQxLEv_t25kceXQOmqta4dNqPJfPUYHLGdqpKIn5ze_ifLU197qTwil2ZHQg">
        </form>
    </div>*@