@{
    ViewData["Title"] = "صفحه اصلی";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<!--====================  hero slider area  ====================-->
@await Component.InvokeAsync("Slide")
<!--====================  End of hero slider area  ====================-->

<!--====================  category area ====================-->
@await Component.InvokeAsync("ProductCategory")
<!--====================  End of category area  ====================-->

<!--====================  single row slider tab ====================-->
@await Component.InvokeAsync("ProductsWithProductCategory")
<!--====================  End of single row slider tab  ====================-->

<!--====================  single row slider ====================-->
@await Component.InvokeAsync("LatestArrivals")
<!--====================  End of single row slider  ====================-->

<!--====================  blog post slider area ====================-->
@await Component.InvokeAsync("LatestArticles")
<!--====================  End of blog post slider area  ====================-->