

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <a href="#">امین حسینی</a>
                <p class="text-muted m-0">مدیر سیستم</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index" class="waves-effect"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-shop"></i><span> سیستم فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-controller="ProductCategory" asp-action="Index">گروه محصولات</a></li>
                        <li><a asp-controller="Product" asp-action="Index">محصولات</a></li>
                        <li><a asp-controller="ProductPicture" asp-action="Index">عکس محصولات</a></li>
                        <li><a asp-controller="Slide" asp-action="Index">اسلاید ها</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="ion-ios7-star"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-controller="CustomerDiscount" asp-action="Index">تخفیفات مشتریان</a></li>
                        <li><a asp-controller="ColleagueDiscount" asp-action="Index">تخفیفات همکاران</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Inventory" asp-action="Index" class="waves-effect"><i class="ion-briefcase"></i><span> انبارداری </span></a>
                </li>
                <li>
                    <a asp-controller="Comment" asp-action="Index" class="waves-effect"><i class="ion-at"></i><span> کامنت ها </span></a>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="ion-compose"></i><span> سیستم بلاگینگ </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-controller="ArticleCategory" asp-action="Index">گروه مقالات</a></li>
                        @*<li><a asp-controller="ColleagueDiscount" asp-action="Index">مقالات</a></li>*@
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>